article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
fieldset,input,select,button,textarea,figure{margin:0;font-size:100%;max-width:100%}
fieldset,legend,a img{padding:0;border:0}
time{display:inline}
body{margin:0}
a{text-decoration:none}
[tabindex]:not(a){outline:0}
ul{padding:0}
h1,h2,h3,h4{text-rendering:optimizeLegibility}
sub,sup{font-size:70%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
address{font-style:normal}
.clear:after{content:'';display:block;clear:both}
.clear{zoom:1}
.shy{position:absolute;left:-9999px}
.dark-grey-gradient,.logged article h1 .extra a{background:#9c9c9c;background:-webkit-linear-gradient(#9c9c9c,#5d5b5b);background:-moz-linear-gradient(#9c9c9c,#5d5b5b);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c',endColorstr='#5d5b5b')"}
.grey-gradient,header,.sidebar h2,.button,.logged .more{background:#fafafa;background:-webkit-linear-gradient(#fafafa,#eaeaea);background:-moz-linear-gradient(#fafafa,#eaeaea);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')"}
.blue-gradient,.button:hover,.button:focus,.logged .more:hover,.logged .more:focus{background:#599bdc;background:-webkit-linear-gradient(#599bdc,#3072b3);background:-moz-linear-gradient(#599bdc,#3072b3);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc',endColorstr='#3072b3')"}
.clearfix:after,.container:after,.button.login-with-gh:after{display:block;content:'';clear:both}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:62.5%;height:100%}
body{font-size:13px;font-size:1.3rem}
body,legend,input,textarea,button{font-family:Helvetica,arial,freesans,clean,sans-serif;line-height:1.4;color:#333}
a{color:#4183c4}
a:focus,a:hover{text-decoration:underline}
p,ul,ol,dl,blockquote,table,figure{margin:0}
li{list-style-type:none}
hgroup > :first-child{margin-bottom:.3em}
hgroup > :first-child + *{margin-top:.3em}
h1,h2,h3,h4{line-height:1.1}
h2{font-size:16px}
header{height:47px;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.40),0 0 10px rgba(0,0,0,0.10);box-shadow:0 1px 0 rgba(255,255,255,0.40),0 0 10px rgba(0,0,0,0.10);border-bottom:1px solid #cacaca;overflow:hidden;}
header .container{padding:0}
header h1{float:left;margin:0;line-height:49px}
header a{color:#000;}
header a:hover,header a:focus{color:#4183c4;text-decoration:none}
header nav{float:right;line-height:49px;}
header nav li{float:left}
header nav li + li{margin:0 0 0 12px}
.container{width:90%;max-width:920px;margin:0 auto;padding:25px 0 52px;}
.container > section{float:left;width:62%}
.sidebar{float:left;width:38%;padding:0 0 0 20px;}
.sidebar div{border:1px solid #ddd;-webkit-border-radius:5px;border-radius:5px}
.sidebar h2{margin:0;padding:1em 10px;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;font-size:13px;font-size:1.3rem;color:#52595d;border-bottom:1px solid #e1e1e2}
.sidebar ul{padding:10px}
.button{display:inline-block;*display:inline;zoom:1;padding:8px 15px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #ddd;border-bottom-color:#bbb;color:#333;font-weight:bold;text-shadow:0 1px 0 #fff;-webkit-box-shadow:0 0 0 2px rgba(0,0,0,0.05);box-shadow:0 0 0 2px rgba(0,0,0,0.05);}
.button.login-with-gh{margin:1.5em 0 0;}
.button.login-with-gh .github-logo{display:inline-block;*display:inline;zoom:1;background-image:url("/images/github.png");width:16px;height:17px;position:relative;top:-2px;vertical-align:middle}
.button:hover,.button:focus{color:#fff;border-color:#518cc6;border-bottom-color:#2a65a0;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.30);}
.button:hover.login-with-gh .github-logo,.button:focus.login-with-gh .github-logo{background-position:0 -17px}
@-webkit-keyframes update{0%,95%{margin-top:-25%}
100%{margin-top:0}
}.login h1{margin:0 0 1em}
.login .public,.login .private{background-color:#f4f4f4;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #f4f4f4));background:-webkit-linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);background:-moz-linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);background:-o-linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);background:-ms-linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);background:linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);border:1px solid #ddd;border-bottom-color:#ccc;border-bottom-width:2px;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;float:left;width:36%;min-height:300px;padding:2em;margin:0 0 25px 0}
.login .private{background-color:#eaf2f5;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f4f9fa), color-stop(1, #eaf2f5));background:-webkit-linear-gradient(top, #f4f9fa 0%, #eaf2f5 100%);background:-moz-linear-gradient(top, #f4f9fa 0%, #eaf2f5 100%);background:-o-linear-gradient(top, #f4f9fa 0%, #eaf2f5 100%);background:-ms-linear-gradient(top, #f4f9fa 0%, #eaf2f5 100%);background:linear-gradient(top, #f4f9fa 0%, #eaf2f5 100%);border-color:#cee1e8;border-bottom-color:#b6d2dd;width:64%;border-right:none;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.login figure{z-index:1;display:block;float:left;position:relative;width:48.5%;}
.login figure img{max-width:80%}
.login figure figcaption{display:block;float:left;position:absolute;top:24%;left:50%;margin-left:-23%;width:30%;height:25%;overflow:hidden;color:#fff;font-size:1px;}
.login figure figcaption ul{margin-top:-25%;-webkit-animation:update 5s 1s infinite ease-out backwards}
.login figure figcaption li{background-color:#fff;width:100%;margin:0 0 14% 0;padding:7% 0;-webkit-border-radius:20px;border-radius:20px;text-align:center}
.login figure:before{z-index:-1;content:'';display:block;position:absolute;bottom:-1px;left:7%;width:70%;height:15%;background-color:rgba(106,120,149,0.20);-webkit-border-radius:100%;border-radius:100%}
.login .col-2{float:left;width:50%;padding:0 1em 0 0}
.logged .more{border:1px solid #d4d4d4;border-bottom-color:#bcbcbc;display:block;margin:16px 0 0;padding:.75em 1em;overflow:hidden;color:#333;font-weight:bold;text-align:center;text-shadow:0 1px 0 #fff;-webkit-border-radius:3px;border-radius:3px;}
.logged .more.loading,.logged .more:hover.loading{background:url("/images/octocat-spinner.gif") center center no-repeat;text-indent:-9999px;border:1px solid #518cc6}
.logged .more:hover,.logged .more:focus{border:1px solid #518cc6;border-bottom-color:#2a65a0;color:#fff;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.30)}
.logged article{position:relative;padding:8px 8px 16px 8px;min-height:75px;-webkit-border-radius:3px;border-radius:3px;}
.logged article h1{border-bottom:1px solid #e0e0e0;position:relative;margin:0 0 2px 0;padding:0 0 8px 62px;font-weight:normal;color:#8db5dc;}
.logged article h1 .repo{font-weight:bold;margin:0 3px 0 0}
.logged article h1 .extra{padding:2px 0 0;display:inline-block;*display:inline;zoom:1;}
.logged article h1 .extra a{font-size:11px;font-size:1.1rem;line-height:1.2;display:inline-block;*display:inline;zoom:1;color:#fff;padding:2px 5px;-webkit-border-radius:2px;border-radius:2px;text-shadow:0 -1px 0 rgba(0,0,0,0.20);opacity:.7 ;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;filter:alpha(opacity=70) ;}
.logged article h1 .extra a:hover,.logged article h1 .extra a:focus{opacity:1 ;-ms-filter:none;filter:none;text-decoration:none}
.logged article h1 .avatar{display:block;position:absolute;top:0;left:0;}
.logged article h1 .avatar:hover img,.logged article h1 .avatar:focus img{border-color:#6991d1}
.logged article img{background-color:#fff;vertical-align:middle;padding:2px;border:1px solid #d0d0d0;-webkit-transition:width .12s,height .12s;-moz-transition:width .12s,height .12s;-o-transition:width .12s,height .12s;-ms-transition:width .12s,height .12s;transition:width .12s,height .12s}
.logged article + article{margin:10px 0 0}
.Event{position:relative;}
.Event .title{font-weight:bold}
.Event .body{color:#555;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.Event .body *{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.Event .body li + li{padding:3px 0 0}
.Event blockquote{color:#777;padding:2px 0 0}
.Event time{padding-left:.25em;color:#aaa;font-size:11px;font-weight:normal}
.user-group > ul{padding:4px 0 0 62px}
.user-group .title img,.user-group .title .username{display:none}
.repo-group > ul{padding:0 0 0 62px}
.repo-group .Event{min-height:60px;padding:8px 0 0}
.repo-group .body{min-height:30px;padding:0 0 0 36px}
.repo-group .title{position:relative;}
.repo-group .title img{position:absolute;bottom:-32px;left:0;padding:1px}
.PushEvent blockquote{display:inline;font-size:12px;font-size:1.2rem}
.PushEvent .body{padding-top:4px}
.PushEvent .body img{padding:1px}
.PushEvent .title img{bottom:-34px}
.logged .current-user{background-color:#f9f9f9;border:1px solid #eee;padding-bottom:8px;min-height:72px;}
.logged .current-user h1{color:#333;border:none;padding-bottom:0;}
.logged .current-user h1 .avatar{top:2px}
.logged .current-user .FollowEvent{float:left;}
.logged .current-user .FollowEvent a:hover img,.logged .current-user .FollowEvent a:focus img{border-color:#6991d1}
.logged .current-user .FollowEvent + .FollowEvent{margin:0 0 0 2px}
footer{color:#aaa;padding:10px 0 0;text-align:center}
@media (max-width: 750px){.container > section,.login .private,.login .public{width:100%;min-height:0;margin:0 0 1em 0;-webkit-border-radius:3px;border-radius:3px;}
.container > section.private,.login .private.private,.login .public.private{border-right:1px solid #cee1e8}
.content,.feed{width:100%}
.sidebar{width:100%;margin:20px 0 0 0;padding:0}
}@media (max-width: 480px){html{font-size:9px}
.avatar img{width:35px;height:35px}
.logged article{margin:0;padding:8px 8px 16px;}
.logged article h1{padding:0 0 4px 44px;font-size:13px;font-size:1.3rem}
.repo-group > ul,.user-group > ul{padding:0 0 0 44px}
.repo-group .body{min-height:25px;padding:1px 0 0 26px}
.repo-group .title img{bottom:-24px}
.repo-group .Event{min-height:64px}
.Event .title img{width:22px;height:22px}
.Event .body img{width:16px;height:16px}
.Event .body li + li{padding:1px 0 0}
.PushEvent .title img{bottom:-24px}
.PushEvent + .PushEvent{padding:10px 0 0}
.FollowEvent .body img{width:25px;height:25px}
.logged .current-user{min-height:59px;}
.logged .current-user h1 .avatar{top:3px}
.logged .current-user > ul{padding-top:.1em}
.logged .current-user .body img{width:22px;height:22px}
}@media (max-width: 435px){.login .col-2{float:none;width:auto}
}