@media (max-width: 750px)
  .content, .feed
    width: 100%
    
  .sidebar
    width: 100%
    margin: 20px 0 0 0
    padding: 0
  
@media (max-width: 480px)
  .logged
    article
      position: relative
      padding: 8px 8px 16px 8px
      border-bottom: 1px solid #e5e5e5
      border-radius: 3px
      min-height: 80px

      h1
        position: relative
        margin: 0; padding: 0
        padding-left: 28px

        .avatar
          display: block
          position: absolute
          bottom: -12px; left: -6px

      img
        size: 25px
        padding: 1px
      
      & > ul
        padding-left: 28px
    