@media (max-width: 480px)
  html
    font-size: 9px

  .avatar img { size: 35px }

  .group
    margin: 0
    padding: 8px 0 16px

    h1
      padding: 0 0 4px 44px
      font-size: 13

  .group > ul { padding-left: 36px }

  .repo-group .body
    min-height: 25px
    padding: 1px 0 0 26px

  .repo-group .title img { bottom: -24px }
  .repo-group .Event { min-height: 64px }

  .Event { padding: 0 8px }
  .Event .title img { size: 22px }
  .Event .body img { size: 16px }
  .Event .body li + li { padding: 1px 0 0 }

  .PushEvent .title img { bottom: -24px }
  .PushEvent .body ul { margin-top: 1px }
  .PushEvent .body img { margin-right: 1px }
  .PushEvent .body .diff { margin-left: 20px }
  .PushEvent + .PushEvent { padding-top: 10px }

  .FollowEvent .body img { size: 25px }

  .current-user > ul { padding-left: 44px }

@media (max-width: 435px)
  .login .col-2
    float: none
    width: auto
