@import "utils/reset"
@import "utils/mixins"

// Base ----------------------------------------------------------------------
html
  font-size: 62.5%
  height: 100%

body
  font-size: 13

body, legend, input, textarea, button
  font-family: 'Helvetica Neue'
  line-height: 1.4
  color: #333

a { color: deeppink }
a:focus, a:hover  { color: hotpink }

p, ul, ol, dl, blockquote, table, figure { margin: .8em 0 }

// Headings ------------------------------------------------------------------
hgroup > :first-child { margin-bottom: .3em }
hgroup > :first-child + * { margin-top: .3em }

h1, h2, h3, h4 { line-height: 1.1 }

// PushEvent -----------------------------------------------------------------
.PushEvent
  blockquote { display: inline }
