@import "nib"
@import "utils/reset"
@import "utils/mixins"

// Utils ---------------------------------------------------------------------
.grey-gradient
  background: #fafafa
  background: -webkit-linear-gradient(#fafafa, #eaeaea)
  background: -moz-linear-gradient(#fafafa, #eaeaea)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')"

.blue-gradient
  background: #599bdc
  background: -webkit-linear-gradient(#599bdc, #3072b3)
  background: -moz-linear-gradient(#599bdc, #3072b3)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc',endColorstr='#3072b3')"

.clearfix
  &:after
    display: block
    content: ''
    clear: both

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }

html
  font-size: 62.5%
  height: 100%

body
  font-size: 13

body, legend, input, textarea, button
  font-family: Helvetica, arial, freesans, clean, sans-serif
  line-height: 1.4
  color: #333

a { color: #4183C4 }
a:focus, a:hover  { text-decoration: underline }

p, ul, ol, dl, blockquote, table, figure { margin: 0 }
li { list-style-type: none }

// Headings ------------------------------------------------------------------
hgroup > :first-child { margin-bottom: .3em }
hgroup > :first-child + * { margin-top: .3em }

h1, h2, h3, h4 { line-height: 1.1 }

// Header ---------------------------------------------------------------------
header
  @extends .grey-gradient
  height: 47px
  box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 0 10px rgba(0,0,0,.1)
  border-bottom: 1px solid #cacaca
  overflow: hidden

  h1
    float: left
    margin: 0
    line-height: 49px

  a
    color: #000

    &:hover, &:focus
      color: #4183C4
      text-decoration: none

  nav
    float: right
    line-height: 49px

    li { float: left }
    li + li { margin: 0 0 0 12px }

// Layout ---------------------------------------------------------------------
.container
  @extends .clearfix
  width: 90%
  max-width: 920px
  margin: 0 auto

.content, .feed
  float: left
  width: 62%

.sidebar
  float: left
  width: 38%
  padding: 0 0 0 20px

  div
    border: 1px solid #ddd
    border-radius: 5px

  h1
    @extends .grey-gradient
    margin: 0; padding: 1em 10px
    border-radius: 5px 5px 0 0
    font-size: 13
    color: #52595d

  ul
    padding: 10px

.button
  @extends .grey-gradient
  display: inline-block
  padding: 5px
  color: #333
  font-weight: bold
  border: 1px solid #d4d4d4
  border-bottom-color: #bcbcbc
  text-shadow: 0 1px 0 #fff
  border-radius: 3px

  &.login-with-gh
    @extends .clearfix

    .github-logo
      display: inline-block
      background-image: url(/images/github.png)
      size: 16px 17px
      position: relative
      top: -2px
      vertical-align: middle

.button:hover, .button:focus
  @extends .blue-gradient
  color: #fff
  border-color: #518cc6
  border-bottom-color: #2a65a0
  text-decoration: none
  text-shadow: 0 -1px 0 rgba(0,0,0,.3)

  &.login-with-gh .github-logo { background-position: 0 -17px }

.login, .logged
  padding: 25px 0 52px

// Login ----------------------------------------------------------------------
.login
  .col-2
    float: left
    width: 50%

// Logged --------------------------------------------------------------------
.logged
  .more
    background-color: #369
    background-image: linear-gradient(top, #fafafa, #eaeaea)
    border: 1px solid #d4d4d4
    border-bottom-color: #bcbcbc
    display: block
    margin: 16px 0 0
    padding: .75em 1em
    overflow: hidden
    color: #333;
    font-weight: bold
    text-align: center
    text-shadow: 0 1px 0 #fff
    border-radius: 3px

    &.loading, &:hover.loading
      background: url(/images/octocat-spinner.gif) center center no-repeat
      text-indent: -9999px
      border: 1px solid #518CC6

    &:hover, &:focus
      background-image: linear-gradient(top, #599BDC, #3072B3)
      border: 1px solid #518CC6
      border-bottom-color: #2A65A0
      color: #fff
      text-decoration: none
      text-shadow: 0px -1px 0px rgba(0, 0, 0, .3)

// EventGroup ----------------------------------------------------------------
.logged
  article
    position: relative
    padding: 8px 8px 16px 8px
    min-height: 75px
    border-radius: 3px

    h1
      border-bottom: 1px solid #e0e0e0
      position: relative
      margin: 0 0 2px 0
      padding: 0 0 8px 62px

      .avatar
        display: block
        position: absolute
        top: 0; left: 0

        &:hover img, &:focus img
          border-color: #6991d1

    img
      background-color: #fff
      vertical-align: middle
      padding: 2px
      border: 1px solid #d0d0d0
      transition: width .12s, height .12s

  article + article
    margin: 10px 0 0

// Event ---------------------------------------------------------------------
.Event
  position: relative

  .title { font-weight: bold }

  .body
    color: #555
    overflow: ellipsis
    * { overflow: ellipsis }
    li + li { padding: 3px 0 0 }

  blockquote
    color: #777
    padding: 2px 0 0

  time
    padding-left: .25em
    color: #aaa
    font-size: 11px
    font-weight: normal

.user-group
  & > ul { padding: 4px 0 0 62px }

  .title
    img, .username { display: none }

.repo-group
  & > ul { padding: 0 0 0 62px }

  .Event
    min-height: 60px
    padding: 8px 0 0

  .body { padding: 0 0 0 36px }

  .title
    position: relative

    img
      position: absolute
      bottom: -32px; left: 0
      padding: 1px

// PushEvent -----------------------------------------------------------------
.PushEvent
  blockquote { display: inline }
  .body { padding-top: 4px }
  .body img { padding: 1px }
  .title img { bottom: -34px }

// FollowEvent ---------------------------------------------------------------
.logged
  .current-user
    background-color: #f5f5f5
    border: 1px solid #f0f0f0

    h1
      border: none
      padding-bottom: 0

      .avatar { top: 2px }

    .FollowEvent
      float: left
      a:hover img, a:focus img { border-color: #6991d1 }

    .FollowEvent + .FollowEvent { margin: 0 0 0 2px }

// Footer --------------------------------------------------------------------
footer
  color: #aaa
  padding: 10px 0 0
  text-align: center

// Media Queries -------------------------------------------------------------
@import "mediaqueries.styl"
