<div class="container">
  <section class="content four-o-four">
    <h2>Sorry pal, nothing here</h2>
    <p style="font-size: 1.5rem; margin: 1.8em 0">However, this fine folk has a random event for you…</p>
    <%= erb :_events, :layout => false %>
  </section>
</div>
