<div class="container">
  <section class="content four-o-four">
    <h2>Sorry pal, nothing here</h2>
    <p>However, this fine folk has a random event for you…</p>
    <%= erb :_events, :layout => false %>
  </section>
</div>
