<div class="container">
  <section class="content four-o-four">
    <h2 class="tagline">Sorry pal, nothing here but this fine folk who has a random event for you</h2>
    <%= erb :_events, :layout => false %>
  </section>
</div>
