<div class="sidebar">
  <div>
    <h1>Links you may wanna click</h1>
    <nav>
      <ul>
        <li><a href="https://github.com/EtienneLem/octofeed">Fork me on GitHub</a></li>
        <li><a href="http://heliom.ca/en/blog/octofeed">More info about the experiment</a></li>
      </ul>
    </nav>
  </div>
  <footer>A user experience test by <a href="http://heliom.ca">Heliom</a></footer>
</div>
