<% if @user %>
  <a href="/logout">Logout</a>
<% else %>
  <a href="/auth/github">Login with GitHub</a>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li><%= event.print %></li>
  <% end %>
</ul>