<% if @event_groups.length > 0 %>
  <div class="container logged">
    <section class="feed">
      <%= erb :_events, :layout => false %>

      <% if @page_number < 10 %>
        <a class="more" href="/page/<%= @page_number + 1 %>" data-url-pattern="/page/:number">More</a>
      <% end %>
    </section>
  </div>
<% else %>
  <div class="container login">
    <h2 class="tagline">The GitHub News Feed You’ve Wished For</h2>
    <article class="private">
      <h1>Public & private events</h1>
      <p>The app gives read/write access to your repositories, commits and issues. This is only used to <strong>see your private repos related events</strong>. </p>
      <a class="button login-with-gh" href="/auth/github_private"><span class="github-logo"></span> Login with GitHub</a>
    </article>
    <article class="public">
      <h1>Public events only</h1>
      <p>Read-only app, <strong>only public events will be listed</strong>. We strongly suggest using the private login to maximise your experience.</p>
      <a class="button classy login-with-gh" href="/auth/github_public"><span class="github-logo"></span> Login with GitHub</a>
    </article>
    <article class="col-1">
      <h2>Disclaimer</h2>
      <p>This is an unofficial app <strong>and isn’t related with GtiHub in any way</strong>. It will look very familiar to you and is meant to be. We basically copied <a href="https://github.com/styleguide/css/1.0" title="GitHub CSS Styleguide 1.0">GitHub’s style</a> on purpose. We don’t want the environment to interfere in the experience.</p>
    </article>
  </div>
<% end %>
