<% if @user %>
  <a href="/logout">Logout</a>
<% else %>
  <a href="/auth/github">Login with GitHub</a>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li><%= event.print %></li>
  <% end %>
</ul>
<% if @page_number < 10 %>
  <a href="/page/<%= @page_number + 1 %>">More</a>
<% end %>
