<% if @event_groups.length > 0 %>
  <div class="container logged">
    <section class="feed">
      <%= erb :_events, :layout => false %>

      <% if @page_number < 10 %>
        <a class="more" href="/page/<%= @page_number + 1 %>?last_updated=<%= @last_updated %>" data-url-pattern="/page/:number?last_updated=<%= @last_updated %>">More</a>
      <% end %>
    </section>
  </div>
<% else %>
  <div class="container login">
    <h2>Your GitHub News Feed, Without The Mess</h2>
    <article class="private">
      <h1>Public &amp; private events</h1>
      <p>This app needs read/write access to your repositories, commits and issues. This is <strong>only used to display private events</strong>. </p>
      <a class="button login-with-gh" href="/auth/github_private"><span class="github-logo"></span> Login with GitHub</a>
    </article>
    <article class="public">
      <h1>Public events only</h1>
      <p>Read-only app, <strong>only public events will be listed</strong>. We strongly suggest using the private login to maximize your experience.</p>
      <a class="button classy login-with-gh" href="/auth/github_public"><span class="github-logo"></span> Login with GitHub</a>
    </article>
  </div>
<% end %>
