<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitHub News Feed</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <%= yield %>
    <script src="/assets/scripts.js"></script>
  </body>
</html>
