<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitHub News Feed</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>OctoFeed</h1>
        <%= %(<a href="/logout">Logout</a>) if @user %>
      </div>
    </header>
    <%= yield %>
    <script src="/assets/scripts.js"></script>
  </body>
</html>
